<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% seo %}
  <link rel="stylesheet" href="{{ "/main.css" | relative_url }}">
  <link href="https://fonts.googleapis.com/css?family=Fira+Mono|Merriweather|Raleway" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Person",
      "address": {
        "@type": "PostalAddress",
        "addressLocality": "Vancouver",
        "addressRegion": "BC",
        "postalCode": "V6T"
      },
      "birthDate": "1995-09-19",
      "email": "mailto:sean@lennaerts.me",
      "jobTitle": "Software Engineer",
      "name": "Sean Lennaerts",
      "sameAs": [
        "https://www.linkedin.com/in/seanlennaerts",
        "https://github.com/seanlennaerts"
      ],
      "url": "http://lennaerts.me"
    }  
  </script>
</head>